:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app{
  display: flex;
  justify-content: space-around;
}

.newTodo{
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: #fff;

}

path {
  fill: #fff;
}

.add {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

}
.add:hover {
  border-color: #646cff;
}
.add:focus,
.add:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-all{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
}

.header-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33%;
    padding-left: 25%;

}

.checkAll{
  margin:  0;
}

.header-title {
  width: 50%;
}

.header-counter {
  height: 33%;
  padding-right: 8%;
}

.count{
  font-size: 0.5em;
  padding: 3px;
  border-style: solid;
  border-radius: 8px;
  border-width: 1.5px;
  border-color: #646cff ;
  background-color: #1a1a1a;
}

.edit{
  background-color: #242424;
  border: #242424;
}

.edit:hover{
  border-radius: 8px;
  background-color: #4d79ff;
}

.edit[disabled]:hover{
  border-radius: 8px;
  background-color: #7c9df6;
  cursor:not-allowed;
}

.validate{
  background-color: #242424;
  border: #242424;
  height: 33%;
}

.validate:hover{
  border-radius: 8px;
  background-color: #3cb52e;
}

.delete{
  background-color: #242424;
  border: #242424;
}

.delete:hover{
  border-radius: 8px;
  background-color: #ff4d4d;
}

.delete[disabled]:hover{
  border-radius: 8px;
  background-color: #FF9797;
  cursor:not-allowed;
}

.editForm{
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.editTodo{
  border: none;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  width: 200px;
  height: 1.5em;
  margin: 1em 0;
  padding: 0;
}

.allTodo {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 0;
}

.todo{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.text {
    width: 200px;
    font-size: 1.5em;
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text.checked{
  text-decoration: line-through;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f9f9f9;
  }

  .newTodo{

    background-color: #f9f9f9;
    color: #213547;
    border-style: solid;
  }

  path {
    fill: #213547;
  }

  .add {
    color: #f9f9f9;
    background-color: #213547;
  }

  .count{
    color: #f9f9f9;
    background-color:  #6380B3;
    border-style: solid ;
    border-width: 1.5px;
    border-color: #213547 ;
  }

  .check{
    color-scheme: normal;
    background-color: #f9f9f9;
    /*color: #f9f9f9;*/
  }
  .edit{
    background-color: #f9f9f9;
    border: #f9f9f9;
  }

  .edit:hover{
    border-radius: 8px;
    background-color: #4d79ff;
    border: #4d79ff;
  }

  .editTodo{
    background-color: #f9f9f9;
    color: #213547;
    border-style: solid;
  }

  .delete{
    background-color: #f9f9f9;
    border: #f9f9f9;
  }

  .delete:hover{
    border-radius: 8px;
    background-color: #ff4d4d;
    border: #ff4d4d;
  }
}

